* {
  box-sizing: border-box;
}
 p{
  color:pink; 
  text-align: center; 
  font-size: 16px; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder ;
  border: solid 2px blue;
  border-radius: 10px;
  padding: 10px;
  background-color: palevioletred;
 }

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  
  background: rgb(145, 179, 216);
  user-select: none;
  -webkit-app-region: drag;
}

.app {
  padding: 16px;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

#day{
  font-size: 36px;
  margin-bottom: 10px;
}

#month{
  font-size: 20px;
  margin-bottom: 10px;
}

.calender{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  background-color: aliceblue;
  border: solid 3px rgb(32, 80, 158);
  border-radius: 5px;
  width: 80%;
  height: 100%;
  box-shadow: inset 0 4px 15px rgba(0, 12, 70, 0.1);
}
